.artwork{
	height: 100px;
	width: 100px;
	float: left;
	border: solid black 1px;
	margin-right: 5px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.yt-thumb{
	height: 75px;
	width: 100px;
	float: left;
	border: solid black 1px;
	margin-right: 5px;
}
.search-results{
	margin-bottom: 2mm;
	cursor: pointer;	
}

.search-results:hover{
	background-color: blue;
}

.results-display{
	height: 320px;
	overflow-y: scroll; 
}