.artwork{
	height: 100px;
	width: 100px;
	float: left;
	border: solid black 1px;
	margin-right: 5px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.thumbnail{
	height: 75px;
	width: 100px;
	float: left;
	border: solid black 1px;
	margin-right: 5px;
}
.search-results{
	padding-bottom: 1mm;
}