body {
	background-image: url("/assets/swirl_pattern.png");
}

form {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.artwork{
	height: 100px;
	width: 100px;
	float: left;
	border-right: solid black 1px;
	margin-right: 5px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.yt-thumb{
	height: 75px;
	width: 100px;
	float: left;
	border: solid black 1px;
	margin-right: 5px;
}
.search-results{
	margin-bottom: 2mm;
	cursor: pointer;
	background-color: white;
	border: black solid 1px;	
}

.search-results:hover{
	background-color: blue;
}

.results-display {
	height: 320px;
	overflow-y: scroll; 
}


h2, h4{
	font-weight: bold;
}

iframe{
	border:solid black 1px;
}

h1{
	font-weight: bold;
	text-align: center;
}